body {
    background-color: rgb(119, 42, 206);
  }

  h1{
color: rgb(255, 255, 255);
text-align: center;
  }

h3 {
    color: rgb(255, 255, 255);
    text-align: left;

}

p {
    color: rgb(255, 255, 255);
    text-align: left;

}
